<!DOCTYPE html>
<html>
<head>
  <title>SampleMailTutorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>Hello!
<% if  current_user%>
<%= current_user.first_name %>!
<% end  %>
  </p>
  <% if current_user %>
    <%= link_to "Sign Out", signout_path, class: "item"%>
  <% else %>
    <%= link_to "Sign In", signin_path, class: "item" %>
  <% end %>

<%= yield %>

</body>
</html>
